
cases.csv
covid_data.csv
covid_log.log
from_object.csv
autompg2.log
output.csv
output.txt
covid.log
Kuralt_program.zip
__pycache__/covid_cases.cpython-38.pyc
__pycache__/covid_deaths.cpython-38.pyc
Kuralt_program.zip
Kuralt_program.zip
